# Python
__pycache__/
*.egg-info/

# Environment
.env
.venv

# IDE
.vscode/

# Data
data/chromadb/*
data/cache/*
data/github/*
!data/chromadb/.gitkeep
!data/cache/.gitkeep
!data/github/.gitkeep

.DS_Store
